@charset "UTF-8" ;

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font01: Verdana, Geneva, Tahoma, sans-serif;
    --font02: 'Passion One', cursive;
    --font03: 'Sriracha', cursive;
}

* {
 margin: 0px;
 padding: 0px;  
}

html, body{
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--font01);
}

header {
    background-color: black;
    color: rgb(233, 198, 0);
    text-align: center;
    font-family: var(--font02);
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 5vw;

}

header > p {
    padding-bottom: 50px; 
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--font03);
    font-size: 3vw;
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

section > p {
    padding-bottom: 2em;
}
/* Devemos dar uma altura significativa para o nosso efeito paralax. */

section.normal {
    background-color: white;
    color: black;
}

#preenchimento > p {
    padding-bottom: 3em;
}

section.imagem {
    background-color: rgb(70, 69, 69);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.596);
    background-attachment: fixed;
    
}
/* Nesse projeto paralax deixamos uma distancia entre as imagens de modo a exibilas uma por vez */

section.imagem > p {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.603);
    background-color: rgba(26, 25, 25, 0.534);
    display: inline-block;
    padding: 5px;
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
 
    background-size: cover;
    /*para dar efeito, compor fotos com tamanhos apropriados para o projeto */


}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-size: cover;
}

footer {
    color: black;
    background-color: rgb(197, 197, 197);
    padding: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 0.6em;
    font-weight: bold;
}

footer a {
    color: black;
    font-size: 1.1em;
    font-weight: bolder;
    text-transform: uppercase;
}



